*{
    margin: 0;
    padding: 0;
}

body{
    background:#050542;
}

.page-title{
    font-family: 'inter', sans-serif;
}

.page-title.squad{
    text-align: center;
    font-size: 3rem;
    color: white;
}

.section-title{
    padding: 3rem 0;
}