*{
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

body{
    background:#050542;
    display: flex;
    flex-direction: column;
}

/* index.liquid */

.page-title{
    font-family: 'inter', sans-serif;
}

.page-title.squad{
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 3rem 0;
}

.controls{
    padding: 0 18rem;
}

.controls-outer{
    background: #66E5BF;
    width: 90%;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    gap: 2rem;
    border-radius: 0.6rem;
}

.controls-outer input {
  padding: 0.75rem;
  border-radius: 3rem;
  width: 50%;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.search-box{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.search-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.search-icon{
    height: 1.8rem;
    width: 2rem;
    position: relative;
    top: 0.05rem;
}

.controls-outer select {
  padding: 0.5rem;
  width: 25%;
  border-radius: 0.6rem;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.button-row{
    display: flex;
    gap: 1rem;
}

.button-toepassen{ 
  padding: 0.7rem;
  width: 15%;
  border-radius: 0.6rem;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.reset-btn{
  padding: 0.7rem;
  width: 15%;
  border-radius: 0.6rem;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.div-select{
    display: flex;
    gap: 0.5rem;
    margin-top: -1rem;
}

.section-card{
    padding: 5rem 12rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 2rem;
}

.section-card h3{
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    background: white;
    flex: 0 0 calc(25% - 4rem);
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.85);
    gap: 1.2rem;
}

.card a{
    color: #050542;;
    font-weight: 800;
    text-align: center;
}

.div-img{
    width: 100%;
    height: 15rem;
    margin-top: -1rem;
}

.img-index{
    width: 100%;
    height: 100%;
    object-fit: fill;
}


/* student.liquid */

.student-section{
    place-items: center;
    place-content: center;
    height: 90vh;
    padding: 3rem;
}

.student-card{
    background: white;
    height: auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem;
    border-radius: 1.5rem;
}

/* .student-card p{
    text-align: center;
} */

.student-card h1{
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    margin-top: -1.5rem;
}

.student-card a{
    color:#050542;
    font-weight: 800;
}

.div-img-big{
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    margin-bottom: -2rem;
}

.img-student{
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.content-student{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-student p{
    text-align: center;
}
